tests/visual/*.fail.png
tests/visual/*.diff.png
tests/visual/failures
.vagrant
*.DS_Store
.idea
html/
settings.local.php
build/
config/deploy_vars.yml
docs
doxy.sh
Doxyfile
node_modules
npm-debug.log
Gemfile.lock
.fuse_hidden*
lib/themes/dosomething/paraneue_dosomething/dist/
lib/themes/dosomething/paraneue_dosomething/bower_components/
lib/themes/dosomething/paraneue_dosomething/vendor/
tmp/
.sass-cache
web
